body{
    margin:0 auto;
    width: 100vw;
    background-image: url("img/background.png");

}
.header{

    background-color: #cc060e;
}

.logo{
    float:left;
    height:8vh;
}
.txtarea{
    width:95vw;
    height:50vh;
    margin:2vh 2vw;
    background-color: #f8f8f8;
    font-size:4em;
}


.buttons-after-textarea{

    width:100vw;
}

.buttons-after-textarea>button{
    float:right;
    background-color: #cc060e;
    width:33vw;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color:white;
    border-color:white;
    outline: none;
    opacity: 1;
    min-height: 8.5vh;
    font-size:2em;
    font-weight: bold;
    border-top-left-radius: 0.15em;
    border-top-right-radius: 0.15em;
    border-bottom-left-radius: 0.15em;
    border-bottom-right-radius: 0.15em;

}


button:hover {
    opacity: 0.9;



}
/* Dropdown Button */
.dropbtn {
    width: 40vw;
    height: 8vh;
    background-color: #cc060e;
    color: white;
    font-size: 5vw;
    border: none;
    cursor: pointer;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 33vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    width: 70vw;
    color: black;
    font-size: 6vw;
    padding: 2vh ;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
